#componentecard {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.CardComponent-imagenes {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#componentecard:hover .CardComponent-imagenes {
    transform: scale(1.1); /* Efecto de zoom */
}

/* Ocultar el contenido por defecto y mostrarlo al hacer hover */
.component-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    background-color: rgba(1, 2, 46, 0.4); /* Fondo semitransparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(100%);
}

#componentecard:hover .component-body {
    opacity: 1;
    transform: translateY(0);
    top: 0px;
}

/* Estilo para el título siempre visible */
#card-titulo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease; /* Transición suave para mover el título */
}

/* Mover el título hacia arriba cuando el mouse esté sobre la tarjeta */
#componentecard:hover #card-titulo {
    transform: translateY(-410%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.0);
}

.CardComponent-texto {
    text-align: center;
    margin-bottom: 20px;
    color: white; /* Aseguramos que el texto sea blanco */
}

#botonVerMas {
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#botonVerMas:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    #componentecard {
        position: relative;
        max-width: 400px;
        height: 300px;
        overflow: hidden;
        margin: 20px auto;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    #card-titulo {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        transition: transform 0.3s ease; /* Transición suave para mover el título */
        
    }


  }


@media (max-width: 370px) {
    
    #componentecard {
        position: relative;
        max-width: 360px;
        height: 300px;
        overflow: hidden;
        margin: 20px auto;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    #card-titulo {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        transition: transform 0.3s ease; /* Transición suave para mover el título */
        
    }

    
  }