#contenedor-titulo{

    


}

#titulo-articulo{

    text-align: center;
    background-color: #003B95;
    height: 70px;
    max-width: 100%;
    font-weight: bold;
    font-size: 30px;
    color: white;
    position: relative;
    top: 10px;
}

#parrafo-articulo1{
    text-align: center;
    color: black;

}
#parrafo-articulo2{
    text-align: center;
    color: black;

}

#contenedor-images{
    background: white;
    max-width: 900px;
    max-height: 900px;
    align-items: center;
    margin: 0 auto;
    
    margin-top: 10px;

}

#contenedor-parrafo1{
    margin: 0 auto;
    max-width: 700px;



}

#contenedor-parrafo2{
    margin: 0 auto;
    max-width: 700px;



}

#mapa{
    align-items: center;
    margin: 0 auto;
    height: 200px;
    width: 90%;
    border-radius: 20px 20px 20px 20px;
    

}

#telefono{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 19px;

}

#div-telefono{
    display: inline-block;
    height: 65px;
    width: 200px;
    margin-left: 10px;
    background-color: #1950a1;
    border: solid 1px rgb(7, 7, 7);
    border-radius: 10px 10px 10px 10px;
}
#texto-telefono{
    text-align: center;
    margin: 0 auto;
    color: white;

}

#div-horario{
    height: 65px;
    width: 200px;
    margin-left: 5px;
    background-color: #1950a1;  
    border: solid 1px rgb(7, 7, 7);
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
}

#texto-horario{
    text-align: center;
    margin: 0 auto;
    color: white;



}
#Horario{
    text-align: center;
    
    color: white;
    font-size: 19px;

}


#contenedor-items{
    text-align: center;
    align-items: center;

}


#contenedor-como-llegar{
   
    
    text-align: center;
    

}

#texto-como-llegar{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    background-color: steelblue;
    width: 300px;
    border-radius: 10px 10px 10px 10px;

}

#contenedor-todo{
   

}


.div-tabla{
    margin: 0 auto;
    width: 401px;
    
    border-radius: 4px;

}

.tabla-items{
    margin: 0 auto;
    width: 400px;
    
}

.tabla-items th{
    font-weight: bold;
    padding-left: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #0f3492;
    
}

.tabla-items td{
    font-weight: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #003B95;

    
   
    
}