.facilub-ref {
  width: 100%; /* Cambiar a 100% para ser más flexible */
  max-width: 400px; /* Ancho máximo */
  height: auto; /* Ajuste automático en altura */
  border: 1px solid #4E6E4D; /* Color del borde */
  padding: 10px; /* Espaciado interno */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden; /* Oculta el contenido que desborda */
  margin: 10px; /* Espaciado externo para evitar que se adhiera a otros elementos */
}

.facilub-ref img {
  width: 50px;; /* Asegura que la imagen se ajuste al contenedor */
  height: 50px; /* Mantiene la relación de aspecto */
  object-fit: fill; /* Ajusta la imagen */
}

.descripcion {
  font-size: 0.9em; /* Aumentar ligeramente el tamaño */
  line-height: 1.4; /* Mejorar el espaciado entre líneas */
}

.ubicacion {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.ubicacion i {
  font-size: 20px; /* Cambia el tamaño del ícono */
  margin-right: 5px; /* Espacio a la derecha del ícono */
  color: #007bff; /* Cambia el color del ícono */
}
