header {
    background-color: #282c34;
    padding: 1px;
    color: white;
    text-align: center;
    height: 160px;
    
  }
  h1{
    height: 30px;
    padding-bottom: 60px;
    padding-top: 15px;
  }
  .navbar{
    list-style-type: none; 
    margin: 0; 
    display: flex; 
  }
  .navbar li {
    flex: 1; 
}

.navbar a {
  display: block; 
  color: white; 
  text-align: center; 
  padding: 10px; 
  text-decoration: none; 
}

.navbar a:hover {
  background-color: #2eb4e5; 
}
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 10px;
  }
p{
  padding: 0%;
  margin: 0%;
}
  