/* src/components/Header/FacilubHeader.css */

.facilub-header {
  background-color: #282C34;
  color: white;
  text-align: center;
  padding: 1.5vh; /* Espaciado alrededor del header */
}

h1 {
  margin: 20px;
  padding: 1px 0 1px; /* Ajustes de espaciado */
}

.navbar {
  list-style-type: none; /* Sin puntos en la lista */
  margin: 0;
  padding: 0; /* Reseteamos el padding */
  display: flex;
  justify-content: center; /* Centra los elementos en el navbar */
}

.navbar li {
  flex: 1; /* Cada elemento toma el mismo espacio */
}

.navbar a {
  display: block; /* Ocupa todo el espacio del li */
  color: white;
  text-align: center; /* Centra el texto */
  padding: 0px; /* Espaciado interno */
  text-decoration: none; /* Sin subrayado */
}

.navbar a:hover {
  color: steelblue;/* Color al pasar el ratón */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar {
      flex-direction: row; /* Cambia a columna en pantallas pequeñas */
  }
  .navbar li {
      margin: 4px 0; /* Espaciado entre elementos en móvil */
  }
}

  