<<<<<<< Updated upstream
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Previene desbordamiento horizontal */
=======
body {
  background-image: url('https://cdn.discordapp.com/attachments/1179643622153527347/1299534337104154705/BG_UBI_NUEVO1.png?ex=671d8d2a&is=671c3baa&hm=c58b487955f20b87e6676c358e5b691b10488eed462507c7a180482ffebe1618&');
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
  
}

body,
html {
  margin: 0;
  padding: 0;
  
  overflow-x: hidden;
  /* Previene desbordamiento horizontal */
  padding-top: 38.5px
>>>>>>> Stashed changes
}


/* App.css */

.app-container {
    display: flex;
    flex-direction: column;
  }
  
  header {
    z-index: 10; /* Asegúrate de que el header esté encima de otros elementos */
  }

  footer {
    z-index: 1;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
  
  .main-content {
    flex-grow: 1; /* Para que el contenido principal ocupe el espacio disponible */
  }
  
  .carousel-container {
    margin-bottom: 20px; /* Espacio inferior para separar del siguiente componente */
    top: 200px;
  }
  
 
  
  /* Ajusta el carrusel y otros componentes */
  .carousel {
    display: block; /* Asegúrate de que se muestre como bloque */
    width: 100%; /* Asegúrate de que ocupe el 100% del ancho */
  }