body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Previene desbordamiento horizontal */
}


/* App.css */

.app-container {
    display: flex;
    flex-direction: column;
  }
  
  header {
    z-index: 10; /* Asegúrate de que el header esté encima de otros elementos */
  }

  footer {
    z-index: 1;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
  
  .main-content {
    flex-grow: 1; /* Para que el contenido principal ocupe el espacio disponible */
  }
  
  .carousel-container {
    margin-bottom: 20px; /* Espacio inferior para separar del siguiente componente */
    top: 200px;
  }
  
 
  
  /* Ajusta el carrusel y otros componentes */
  .carousel {
    display: block; /* Asegúrate de que se muestre como bloque */
    width: 100%; /* Asegúrate de que ocupe el 100% del ancho */
  }