* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0; /* Eliminar márgenes por defecto */
  padding: 0; /* Eliminar padding por defecto */
  height: 100%; /* Asegura que ocupe toda la altura */
}

#root {
  display: flex; /* Permite que el contenido ocupe todo el espacio disponible */
  flex-direction: column; /* Alinear elementos verticalmente */
  min-height: 100vh; /* Asegura que ocupe al menos la altura de la ventana */
  width: 100%; /* Asegura que ocupe todo el ancho */
  background-color: #282c34;
}

